.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	padding-left: 0px;
}

.row{
	background: transparent;
}

#content_map{
	background: blue;
	height: 479px;
	margin-top: 30px;
}

#img_title{
	width: 1000px;
	float: right;
}

#content_menu{
	background: transparent;
	float: right;
}

#content_cuerpo{
	background: transparent;
	height:500px;
	margin-top: 34px;
}


@media screen  and (min-width: 1200px){
	.container {
		width: 1029px;
	}
}

.list-group.panel > .list-group-item {
  border-radius: 10px 5px 0px 10px;
  margin-top: 4px;
  background: #2d549f;
  color: white;
  font-size: 18px;
  z-index: 1;
}
.list-group-submenu {
  margin-left:20px;
}


.collapse{
	margin-left: 9px;
    width: 281px;
}

#pic1{
	margin-top: -28px;
	margin-bottom: 29px;
}

#pic2{
	margin-top: -17px;
	padding-left: 0px;
}